&input_params
    rfnmaxmain = 20
    rfnmaxrte = 200
    ndrt = 200
    nfrt = 500
    nmurt = 10
    rfppemin = 0.1
    rfppemax = 900000.0
    rfppemax2 = 1000000.0
    rftaumin = 0.0001
    rftaumaxrt = 10
    rfmumin = 0.0
    rfmumax = 1.0
    ity = 2
    rfdebug = 0
    rfit_temp = 99
    rftemp_gas = 10000.0
    rftemp_gas_unit = 'ev'
    rfgamma = 2.0
    rfhcut = 60e3
    ktb_nthcomp=0.1e3
    rfinmu = 0.1
    rfstinci = 'nthcomp'
    rfinci_file = 'incident/nthcomp_g2.0_t60.txt'
    rfsbot = 0
    rfktbb = 350.0
    rffx_frac = 1e-10
    rfzeta = 3.0
    rfnh = 1000000000000000.0
    rfcomp_file = 'kernel_exact500'
    rfop_spec = 'spec_test.dat'
    rfop_temp = 'temp_test.dat'
    rfop_inte = 'inte_test.dat'
    rfop_log = 'log_test.log'
    rfop_emis= 'emis_test.dat'
    rfabdfits= 'abd_test.fits'
    rfdataenv = 'data'
    rfmodel = 0
    rfh = 1.0
    rfhe = 1.0
    rfli = 0.0
    rfbe = 0.0
    rfba = 0.0
    rfc = 1.0
    rfn = 1.0
    rfo = 1.0
    rff = 0.0
    rfne = 1.0
    rfna = 0.0
    rfmg = 1.0
    rfal = 0.0
    rfsi = 1.0
    rfp = 0.0
    rfs = 1.0
    rfcl = 0.0
    rfar = 0.0
    rfk = 0.0
    rfca = 0.0
    rfsca = 0.0
    rfti = 0.0
    rfva = 0.0
    rfcr = 0.0
    rfmn = 0.0
    rffe = 1.0
    rfco = 0.0
    rfni = 0.0
    rfcu = 0.0
    rfzn = 0.0
/
