&input_params
    rfnmaxmain = 20
    rfnmaxrte = 200
    ndrt = 200
    nfrt = 5000
    nmurt = 50
    rfppemin = 0.1
    rfppemax = 900000.0
    rfppemax2 = 1000000.0
    rftaumin = 0.0001
    rftaumaxrt = 10
    rfmumin = 0.0
    rfmumax = 1.0
    ity = 2
    rfdebug = 0
    rfit_temp = 99
    rftemp_gas = 10000.0
    rftemp_gas_unit = 'ev'
    rfgamma = 1.4
    rfhcut = 1000000.0
    ktb_nthcomp=0.1e3
    rfinmu = 0.1
    rfstinci = 'file'
    rfinci_file = 'incident/nthcomp_g2.0_t60.txt'
    rfsbot = 0
    rfktbb = 350.0
    rffx_frac = 1e-10
    rfzeta = 3.0
    rfnh = 1000000000000000.0
    rfcomp_file = 'kernel_exact5000'
    rfop_spec = 'out/pst/spec_9fba3b0af3_pst.dat'
    rfop_temp = 'out/pst/temp_9fba3b0af3_pst.dat'
    rfop_inte = 'out/pst/inte_9fba3b0af3_pst.dat'
    rfop_log = 'out/pst/model_9fba3b0af3_pst.log'
    rfop_emis= 'out/pst/emis_9fba3b0af3_pst.dat'
    rfabdfits= 'out/pst/abd_9fba3b0af3_pst.fits'
    rfdataenv = 'data'
    rfmodel = 0
    rfh = 1.0
    rfhe = 1.0
    rfli = 0.0
    rfbe = 0.0
    rfba = 0.0
    rfc = 1.0
    rfn = 1.0
    rfo = 1.0
    rff = 0.0
    rfne = 1.0
    rfna = 0.0
    rfmg = 1.0
    rfal = 0.0
    rfsi = 1.0
    rfp = 0.0
    rfs = 1.0
    rfcl = 0.0
    rfar = 1.0
    rfk = 0.0
    rfca = 1.0
    rfsca = 0.0
    rfti = 0.0
    rfva = 0.0
    rfcr = 0.0
    rfmn = 0.0
    rffe = 1.0
    rfco = 0.0
    rfni = 1.0
    rfcu = 0.0
    rfzn = 0.0
/
